
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.center-vertical
	form(method="post")#account-form.form-horizontal.well
		h2
		h6#sub1 欢迎注册资金账户
		hr
		.form-group
			label.control-label.col-sm-3 姓名
			.col-sm-9
				input.form-control#name-tf(type='text', name='username', value= user.name)

		.form-group
			label.control-label.col-sm-3 邮箱
			.col-sm-9
				input.form-control#email-tf(type='text', name='email', value= user.email)

		.form-group
			label.control-label.col-sm-3 国家
			.col-sm-9
				select.form-control#country-list(name='country')
					each item in countries
						option(selected=item.name == user.country)= item.name


		.form-group
			label.control-label.col-sm-3 城市
			.col-sm-9
				input.form-control#city-tf(type='text', name='city', value= user.city)

		.form-group
			label.control-label.col-sm-3 电话号码
			.col-sm-9
				input.form-control#telephone-tf(type='text', name='telephone', value= user.telephone)


		.form-group
			label.control-label.col-sm-3 登录密码
			.col-sm-9
				input.form-control#loginPass-tf(type='password', name='loginPassword', value='')

		.form-group
			label.control-label.col-sm-3 确认登录密码
			.col-sm-9
				input.form-control#loginPass-tf2(type='password', name='loginPassword_confirm', value='')

		.form-group
			label.control-label.col-sm-3 交易密码
			.col-sm-9
				input.form-control#tradePass-tf(type='password', name='tradePassword', value='')

		.form-group
			label.control-label.col-sm-3 确认交易密码
			.col-sm-9
				input.form-control#tradePass-tf2(type='password', name='tradePassword_confirm', value='')
		hr
		.form-buttons
			button(type='button')#account-form-btn1.btn.btn-default
			button(type='submit')#account-form-btn2.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //

include modals/form-errors
