<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>股票交易系统</b></a>
    </div>
    <div>

    </div>
    <ul class="nav navbar-right navbar-nav">
        <li><a href="/">登录</a></li>
    </ul>
</nav>
	<div style="text-align:center">
			请输入股票代码
			<input type='text' id='tickerSymbol' value='代码'>
			<input type="submit" style="height:40" value='查询' onclick='postTickerSymbol()'></br>
	</div>
    <div id="main" style="width: 1200px;height:800px;" text-align:center; ></div>
</body>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-2.2.3.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/echarts/3.2.0/echarts.min.js'></script>-->
    <script src='../js/echarts.min.js'></script>
    <script src='../js/StockInfo.js'></script>
</html>
