//
   Created by wizard on 2016/6/12.

extends layout
block stylesheet
  link(rel='stylesheet', href='/css/register.css')
  script(type='text/javascript', src='/js/switch.js')
block content
  h1(style="text-align:center;") 挂失账户

  .switch
    span(onclick="swit(0)")#indi 个人
    span(onclick="swit(1)")#corp 法人

  #individual.container
    form(action="lossReport?Corporate=0", method="post").registerform
      table.table
        tbody
          tr
            td ID
            td
              input(type="text", name="stockid", datatype="n9-10", errormsg="请输入9到10位数字")
          tr
            td 姓名
            td
              input(type="text", name="name", datatype="zh2-4", errormsg="请输入姓名（2-4位汉字）")
          tr
            td 身份证号
            td
              input(type="text", name="idno", datatype="n18-18", errormsd="请输入18位数字")
      .form-group
        input(type="submit", value="提交")
  #corporate.container
    form(action="lossReport?Corporate=1", method="post").registerform
      table.table
        tbody
          tr
            td ID
            td
              input(type="text", name="stockid", datatype="n9-10", errormsg="请输入9到10位数字")
          tr
            td 法人登记号码
            td
              input(type="text", name="docid", datatype="n10-10", errormsg="请输入10位数字")
          tr
          tr
            td 法人姓名
            td
              input(type="text", name="fname", datatype="zh2-4", errormsg="请输入姓名（2-4位汉字）")
          tr
            td 身份证号
            td
              input(type="text", name="fidno", datatype="n18-18", errormsd="请输入18位数字")
      .form-group
        input(type="submit", value="提交")
