extends layout
block stylesheet
  link(rel='stylesheet', href='/css/SecAccSys/register.css')
  script(type='text/javascript', src='/js/SecAccSys/switch.js')
  script(type='text/javascript').
    $(function () {
      //$(".registerform").Validform();  //就这一行代码！;

      var demo = $(".registerform").Validform({
        tiptype: 3,
        label: ".label",
        showAllError: true,
        datatype: {
          "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
        },
        ajaxPost: true
      });
    });

block content
  h1 注册新账户
  .switch
    span(onclick="swit(0)")#indi 个人
    span(onclick="swit(1)")#corp 法人
  #individual.container
    form(action="/SecAccSys/register?Individual", method="post").registerform
      table.table(style="table-layout:fixed;")
        tbody
          tr
            td.left 姓名
            td
              input(type="text", name="name", datatype="zh2-4", errormsg="请输入姓名（2-4位汉字）")
          tr
            td.left 性别：
            td
              input(type="radio", name="sex", value="male", style="margin-left:20px", datatype="*", nullmsg="请选择性别")
              label 男
              input(type="radio", name="sex", value="female", style="margin-left:20px")
              label 女
          tr
            td.left 身份证号
            td
              input(type="text", name="idno", datatype="n10-10", errormsd="请输入10位数字")
          tr
            td.left 联系电话
            td
              input(type="text", name="phone", datatype="m", errormsd="请输入手机号")
          tr
            td.left 家庭住址
            td
              input(type="text", name="addr", datatype="*10-40", errormsg="请输入家庭地址(10-40位字符)")
          tr
            td.left 职业
            td
              input(type="text", name="career", datatype="zh2-10", errormsg="请输入2-10个汉字")
          tr
            td.left 学历
            td
              input(type="text", name="degree", datatype="zh1-4", errormsg="请输入1-4个汉字")
          tr
          tr
            td.left 工作单位
            td
              input(type="text", name="company", datatype="*6-30", errormsg="请输入工作单位(6-30位字符)")
          tr
            td.left 密码
            td
              input(type="password", name="password", datatype="*6-16", errormsg="请输入6-16位密码")
          tr
            td.left 确认密码
            td
              input(type="password", name="password2", datatype="*", recheck="password", errormsg="您两次输入的密码不一致")
      .form-group
        input(type="submit", value="提交")


  #corporate.container
    form(action="/SecAccSys/register?Corporate", method="post").registerform
      table.table(style="table-layout:fixed;")
        tr
          td.left 法人
          td
        tr
          td.left 法人登记号码
          td
            input(type="text", name="docid", datatype="n10-10", errormsg="请输入10位数字")
        tr
        tr
          td.left 姓名
          td
            input(type="text", name="fname", datatype="zh2-4", errormsg="请输入2-4个汉字")
        tr
          td.left 身份证号
          td
            input(type="text", name="fidno", datatype="n10-10", errormsg="请输入10位数字")
        tr
          td.left 联系电话
          td
            input(type="text", name="fphone", datatype="m", errormsg="请输入手机号")
        tr
          td.left 联系住址
          td
            input(type="text", name="faddr", datatype="*10-40", errormsg="请输入10-40个字符")
        tr
          td.left 授权交易执行人
          td
        tr
          td.left 姓名
          td
            input(type="text", name="name", datatype="zh2-4", errormsg="请输入2-4个汉字")
        tr
          td.left 身份证号
          td
            input(type="text", name="idno", datatype="n10-10", errormsg="请输入10位数字")
        tr
          td.left 联系电话
          td
            input(type="text", name="phone", datatype="m", errormsg="请输入手机号")
        tr
          td.left 联系地址
          td
            input(type="text", name="addr", datatype="*10-40", errormsg="请输入10-40个字符")
        tr
          td.left 密码
          td
            input(type="password", name="password", datatype="*6-16", errormsg="请输入6-16个字符")
        tr
          td.left 确认密码
          td
            input(type="password", name="password2", datatype="*6-16", recheck="password", errormsg="您两次输入密码不同")
      .form-group
        input(type="submit", value="提交")


